body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 100000;
    background-color: black;
    color: white;
    padding: 0.5rem;
    position: absolute ;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 100000;
    background-color: black;
    color: white;
    padding: 0.5rem;
    position: absolute ;
}
.imagen-producto{
    left: 0;
    top: 0;
    margin-right: 1rem;
    float: left;
    width: 6rem;
    height: 6rem;
}
.tarjeta-producto{
    width: 19rem;
    margin: 4rem auto;
    border: 1px solid wheat;
    position: relative;
}
.tarjeta-producto::after{
    content: "";
    display: table;
    clear: both;
}
.etiqueta-oferta{
    position: absolute;
    color: white;
    top: -1rem;
    right: -1rem;
    background-color: red;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border-color: rgb(107, 4, 4);
}
.etiqueta-oferta:empty{
    display: none;
}
