/* Main Grid Container (Body) */
.columna2 {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 200px 400px 100px;
}

.columna1 {
    grid-column: 1 / -1;
    width: 100%;
    display: grid;
    background-color: green;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.nav {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    align-self: start;

    background-color: blue;
    color: white;
    padding: 20px;
    width: 150px;
    text-align: center;
}

.content {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    background-color: red;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    align-self: end;

    background-color: yellow;
    padding: 20px;
    width: 100px;
    text-align: center;
}

.columna3 {
    display: grid;
    background-color: purple;
    width: auto;
    height: auto;
    align-items: center;
    justify-items: center;
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    align-self: start;
    width: 200px;
}