.contenedor-flex-1{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    
}
.contenedor-flex-2{
    display: flex;
    flex-direction: row-reverse;
    
}
.contenedor-flex-3{
    display: flex;
    flex-direction: column;
    
}
.contenedor-flex-4{
    display: flex;
    flex-direction: column-reverse;
    
}
.contenedor-flex-1 > div,
.contenedor-flex-2 > div,
.contenedor-flex-3 > div,
.contenedor-flex-4 > div {
    background-color: beige;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid blue;
    width: 200px;
    height: 200px;
    margin: 10px;
    box-sizing: border-box; 
}