.contenedor-flex-1 {
    display: flex;
    align-items: stretch;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
}

.contenedor-flex-2 {
    display: flex;
    align-items: flex-start;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
}

.contenedor-flex-3 {
    display: flex;
    align-items: flex-end;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
}

.contenedor-flex-4 {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
}

.contenedor-flex-5 {
    display: flex;
    align-items: baseline;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
}

.contenedor-flex-6 {
    display: flex;
    align-items: baseline;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
}


[class^="contenedor-flex-"]>div {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

