.contenedor-flex-1 {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid black;
    width: 600px;
    margin-bottom: 20px;
    padding: 10px;
}

.contenedor-flex-2 {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid black;
    width: 350px;
    margin-bottom: 20px;
    padding: 10px;
}

.contenedor-flex-3 {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 350px;
    margin-bottom: 20px;
    padding: 10px;
}

.contenedor-flex-4 {
    display: flex;
    flex-wrap: wrap-reverse;
    border: 1px solid black;
    width: 350px;
    margin-bottom: 20px;
    padding: 10px;
}

[class^="contenedor-flex-"]>div {
    width: 100px;
    height: 100px;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

}
