:root {
    /* Colors */
    --primary-900: rgba(0, 24, 10, 1);
    --primary-800: rgba(0, 71, 33, 1);
    /* #004721 - Dark Green */
    --primary-700: rgba(0, 73, 31, 1);
    --primary-600: rgba(0, 98, 41, 1);
    --primary-500: rgba(0, 122, 51, 1);
    --primary-400: rgba(46, 204, 113, 1);
    /* #2ECC71 - Emerald */
    --primary-300: rgba(46, 204, 113, 1);
    --action-green: #007A33;
    --bg-light-blue: #E3F2FD;
    --bg-light-green: #E8F5E9;

    --neutral-900: rgba(0, 0, 0, 1);
    --neutral-800: rgba(48, 57, 51, 1);
    --neutral-50: rgba(247, 248, 247, 1);

    /* Typography */
    --font-family: 'Roboto', 'Inter', sans-serif;
    --h1-size: 72px;
    --h2-size: 48px;
    --h3-size: 32px;
    --body-size: 16px;
    --body-small-size: 14px;
}